*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.box{
	width: 80%;
	height: 600px;
	margin: 50px auto;
	background: url('../images/a.jpg') no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.box ul{
	position: absolute;
	bottom: 2vw;
	left: 50%;
	transform: translateX(-50%);
}
.box ul li{
	float: left;
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	line-height: 3vw;
	text-align: center;
	margin-right: 1vw;
	cursor: pointer; 
}
.box ul li:hover{
	color: #fff;
	background: rgba(255, 0, 0, 0.7);
}