*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body,html{
	background: url('../images/bj_1.png');
}
.box{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
.box .logo{
	height: 200px;
	background: url('../images/timg.jpg') no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
h1{
	color: #FFF200;
	font-family: "宋体";
	margin-top: 230px;
	margin-left: 50px;
}
.menu{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #000000;
}
.menu ul{
	display: flex;
	color: #fff;
	justify-content: space-around;
}
.main .left{
	width: 23%;
	height: 650px;
	background: #00FFFC;
	float: left;
}
.main .left img{
	width: 150px;
	height: 180px;
	margin-left: 1vw;
	margin-top: 1vw;
}
.main .left .a1{
	width: 100%;
	text-align: center;
}
.main .left .a2{
	width: 80%;
	margin: 10px auto;
	font-size: 10px;
}
.main .left .a3{
	margin-top: 2vw;
}

.main .you{
	width: 77%;
	height: 650px;
	background: #02D4F4;
	float: left;
	background: url('../images/1.jpg') no-repeat;
	background-size: 100% 100%;
}
h2{
	margin-left: 2vw;
	margin-top: 2vw;
}
.main .you .b1{
	width: 80%;
	margin-left: 2vw;
	margin-top: 1vw;
}
.b2{
	width: 75%;
	margin-left: 2vw;
}
.b3{
	width: 30%;
	margin-left: 2vw;
}
.b4{
	width: 30%;
	margin-left: 2vw;
}